.main {
  margin-top: 1em;
}

.center {
  justify-content: left;
  color: rgba(47, 47, 230, 0.904);
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 17px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}
